extends _layout/layout

block variables
	- var title = 'Lương Quới'
	- var bodyclass = 'homepage'

block css

block body 
	include _layout/header
	main
		//- .container
		include _pages/ct-hethong
	include _layout/footer