section.banner-wrap
	.home-banner.banner
		.item
			.img
				img(src="img/banner/1.jpg", alt="")
		.item
			.img
				img(src="img/banner/2.jpg", alt="")
		.item
			.img
				img(src="img/banner/3.jpg", alt="")