footer
	.container
		.footer-top
			//- .row.align-items-center.align-content-center
				.col-12.col-lg-6
					.contact-wrap
						.email
							figure
								.icon <i class="material-icons">mail_outline</i>
								figcaption
									.title Email
									a(href="tel:luongquoi@luongquoi.vn") luongquoi@luongquoi.vn
				.col-12.col-lg-6
			.subscribe-wrap
				.module-title Đăng ký nhận bản tin
				.subscribe
					.subscribefrm
						input(type="text" placeholder="Nhập địa chỉ email...")
						.subscribebutton Đăng ký
	.footer-main
		.container
			.row
				.col-12.col-sm-6.col-lg-3
					section.footer-col
						.title Về chúng tôi
						.about Mang đến cho cộng đồng sản phẩm sạch được chế biến từ quả dừa với nguồn dưỡng chất tốt nhất, chất lượng cao nhất.
				.col-12.col-sm-6.col-lg-3
					section.footer-col
						.title Liên kết nhanh
						nav.footer-link
							a(href="#!") Giới thiệu
							a(href="#!") Khuyến mãi
							//- a(href="#!") Tin tức
							a(href="#!") Hệ thống cửa hàng
							a(href="#!") Liên hệ
				.col-12.col-sm-6.col-lg-3
					section.footer-col
						.title Hỗ trợ
						nav.footer-link
							a(href="#!") Hướng dẫn mua hàng
							a(href="#!") Hướng dẫn thanh toán
							a(href="#!") Hướng dẫn đổi trả hàng
							a(href="#!") Hỏi đáp thường gặp
				.col-12.col-sm-6.col-lg-3
					section.footer-col
						.title Thông tin liên hệ
						.hotline
							figure
								.icon <i class="material-icons">phone</i>
								figcaption
									.hotline-title Hotline
									a(href="tel:(+84).275.3.626.313") (+84).275.3.626.313
						.contact
							ul
								li Lô A36, A37 - Khu công nghiệp An Hiệp, ấp Thuận Điền, xã An Hiệp, huyện Châu Thành, tỉnh Bến Tre
								li 
									a(href="mailto:support@luongquoi.vn") support@luongquoi.vn
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube" aria-hidden="true"></i>
	.footer-bottom
		.container
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.row
				.col-12.col-lg-4
					.payment
						img(src="img/payments.png", alt="")
				.col-12.col-lg-4
					.copyright Copyright © 2018 
						a(href="#!") Luong Quoi 
						|All Rights Reserved. 
						//- Designed by 
						//- a(href="#!") Canh Cam
						//- |.
				.col-12.col-lg-4
					nav.footer-nav
						a(href="#!") Về chúng tôi
						a(href="#!") Tuyển dụng
						a(href="#!") Sitemap
	.fly-tool
		a.support(href="#!" data-toggle="tooltip" data-placement="left" title="Hỗ trợ") <i class="material-icons">question_answer</i>
		a.email(href="mailto:luongquoi@luongquoi.vn" data-toggle="tooltip" data-placement="left" title="Email") <i class="material-icons">email</i>
		a.hotline(href="tel:(+84).275.3.626.313" data-toggle="tooltip" data-placement="left" title="Hotline") <i class="material-icons">phone</i>
		a.up(href="#!" data-toggle="tooltip" data-placement="left" title="Về đầu trang") <i class="material-icons">keyboard_arrow_up</i>