.page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container.full-width
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Chứng nhận
section.cert-page
	.container
		h1.home-title.text-center Chứng nhận & Giải thưởng
		.product-list.cert-list
			.row
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
				article.col-6.col-sm-4.col-md-3.col-xl-custom
					.product-col.cert-col
						figure
							a.product-img.cert-img(href="" data-fancybox="")
								img(src="img/award/1.png", alt="")
							figcaption
								.product-name.cert-name Hàng Việt Nam chất lượng cao
		.pages
			ul.pagination
				li.active
					a(href="#") 1
				li 
					a(href="#") 2
				li 
					a(href="#") 3
				li 
					a(href="#") 4