//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/4.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
section.contact-page
	.container
		h2.home-title.text-center Hệ thống cửa hàng
		nav.top-nav.clearfix
			ul 
				li
					a(href="#!") Tìm địa điểm
				li.active
					a(href="#!") Chuỗi cửa hàng
	.container
		.store-list
			.row
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
				article.col-12.col-sm-6.col-md-4
					.store-col
						figure
							a.store-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								.store-name Mr Vui Hoàng Văn Thụ
								.store-des
									ul
										li <i class="fa fa-map-marker"></i> Tòa nhà E2 Hoàng Văn Thụ
										li <i class="fa fa-phone"></i>
											a(href="tel: 0981 123 123") 0981 123 123
										li <i class="fa fa-clock-o"></i> 08:00 - 22:00
