.container
	//- section.home-sale
		h2.home-title 
			strong HOT 
			|DEAL
		.time-sale kết thúc trong 
			.countdown 
				span 12
				|:
				span 24
				|:
				span 30
		.product-slick.product-list
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/a1.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!" data-toggle="tooltip" data-placement="top" title="Xem chi tiết") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/a2.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!" data-toggle="tooltip" data-placement="top" title="Xem chi tiết") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						//- .product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/a3.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!" data-toggle="tooltip" data-placement="top" title="Xem chi tiết") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/a4.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								//- .old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!" data-toggle="tooltip" data-placement="top" title="Xem chi tiết") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/a1.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!" data-toggle="tooltip" data-placement="top" title="Xem chi tiết") <i class="material-icons">launch</i>

	section.home-ads.clearfix
		.row
			.col-12.col-md-12.col-lg-4
				a.img-ads(href="#!")
					img(src="img/banner/ad1.jpg", alt="")
			.col-12.col-md-12.col-lg-8
				.row
					.col-12.col-md-6
						a.img-ads(href="#!")
							img(src="img/banner/ad2.jpg", alt="")
					.col-12.col-md-6
						a.img-ads(href="#!")
							img(src="img/banner/ad3.jpg", alt="")
					.col-12
						a.img-ads(href="#!")
							img(src="img/banner/ad4.jpg", alt="")
		//- h1.home-title.text-center 
			strong Sản phẩm 
			|nổi bật
		//- .tab-wrap
			ul#myTab.nav.nav-tabs(role='tablist')
				li.nav-item
					a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Dầu dừa
				li.nav-item
					a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Nước dừa
				li.nav-item
					a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Nước cốt dừa
		//- #myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab')
	section.home-product.clearfix
		h2.home-title.text-center
			a(href="#!") Dầu dừa
		.product-slick.product-list
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/1.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/2.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						//- .product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/3.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/4.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								//- .old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/5.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/6.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Dầu dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
	section.home-product.clearfix
		h2.home-title.text-center
			a(href="#!") Nước dừa
		.product-slick.product-list
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/26.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/29.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						//- .product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/30.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/31.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								//- .old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/32.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
	section.home-product.clearfix
		h2.home-title.text-center
			a(href="#!") Nước cốt dừa
		.product-slick.product-list
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/27.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/28.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						//- .product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/33.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/34.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								//- .old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						//- .product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/33.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								.old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			.item
				.product-col
					figure
						.product-promotion.sale -30%
						a.product-img(href="#!")
							img(src="img/product/34.png", alt="")
						figcaption
							h3.product-name
								a(href="#!") Nước cốt dừa - abc1
							.product-cate 200ml
							.product-price
								.new 300.000 đ
								//- .old 450.000 đ
							.product-btn
								a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
									span Thêm vào giỏ hàng
								a.btn-view(href="#!") <i class="material-icons">launch</i>
			
//- section.home-about.parallax(data-parallax="scroll" data-image-src="img/home/bg.jpg")
	.container
		.user-feedback
			.item
				.feedback
					.user
						figure
							.user-img
								img(src="img/user/1.jpg", alt="")
							figcaption
								.user-name Nguyễn Thị A
								.user-cv CEO & Founder ABC Corp
					.feedback-content Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.
			.item
				.feedback
					.user
						figure
							.user-img
								img(src="img/user/2.jpg", alt="")
							figcaption
								.user-name Trần Văn B
								.user-cv CEO & Founder ABC Corp
					.feedback-content Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.
			.item
				.feedback
					.user
						figure
							.user-img
								img(src="img/user/4.jpg", alt="")
							figcaption
								.user-name Phan Thị C
								.user-cv CEO & Founder ABC Corp
					.feedback-content Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.
			.item
				.feedback
					.user
						figure
							.user-img
								img(src="img/user/3.jpg", alt="")
							figcaption
								.user-name Huỳnh Văn D
								.user-cv CEO & Founder ABC Corp
					.feedback-content Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.


				
		//- .row
			.col-12.col-lg-6
				.about-content
					h2.home-title Về chúng tôi
					.content
						.company CÔNG TY TNHH CHẾ BIẾN DỪA LƯƠNG QUỚI
						p Được thành lập năm 1997, trải qua hơn 17 năm hình thành và phát triển, Chúng tôi đã có mặt ở hơn 30 quốc gia như Mỹ, Nga, Nhật, Hàn Quốc, Ấn Độ, Úc... và hướng đến là 1 trong 5 công ty chế biến dừa lớn nhất Châu Á - Thái Bình Dương...
						p Trong những năm gần đây, công ty TNHH Chế Biến Dừa Lương Quới đã không ngừng đẩy mạnh đầu tư dây chuyền sản xuất, nâng cao chất lượng sản phẩm với mong muốn đem lại sản phẩm tốt nhất đến tay người tiêu dùng.
					.btn-wrap
						a.btn-viewmore(href="#!") Hiểu thêm về chúng tôi
			.col-12.col-lg-6
				.about-img
					img(src="img/home/about.jpg", alt="")
//- section.home-news.parallax(data-parallax="scroll" data-image-src="img/home/bg.jpg")
	.container
		h2.home-title.text-center Truyền thông
		.news-list.hot-news
			.row
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 22/03/2018
								h3.news-name
									a(href="#!") Hiệu quả từ tách chiết dầu dừa bằng công nghệ không gia nhiệt
								.news-des Với sự hỗ trợ từ “Chương trình đổi mới công nghệ Quốc gia đến năm 2020” của Bộ Khoa học và Công nghệ, sản phẩm...
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/2.jpg", alt="")
							figcaption
								time 22/03/2018
								h3.news-name
									a(href="#!") Tiếp sức doanh nghiệp đổi mới công nghệ
								.news-des Thời gian qua cùng với sự đầu tư của Nhà nước, sự mạnh dạn đầu tư nghiên cứu, đổi mới và chuyển giao công nghệ...
				.col-12.col-md-4
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/3.jpg", alt="")
							figcaption
								time 22/03/2018
								h3.news-name
									a(href="#!") Quyên góp ủng hộ đồng bào lũ lụt Miền Trung
								.news-des Chiều ngày  27/10, tại công ty TNHH Chế Biến Dừa Lương Quới diễn ra chương trình  quyên góp ủng hộ nhân dân bị lũ...
		.btn-wrap
			a.btn-viewmore(href="#!") Xem thêm