//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/4.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Liên hệ
section.contact-page
	.container
		h2.home-title.text-center Liên hệ
		.home-des.text-center Ý kiến của quý khách là nền tảng cho chúng tôi cải tiến và nâng cao chất lượng dịch vụ. Chúng tôi luôn trân trọng ý kiến của quý khách đã góp phần vào sự phát triển bền vững của Tokyo Deli. Mọi ý kiến đóng góp vui lòng để lại thông tin tại đây.
		//- nav.top-nav.clearfix
			ul 
				li 
					a(href="hethong.html") Hệ thống cửa hàng
				li.active
					a(href="lienhe.html") Thông tin liên hệ
		
	.container
		section.contact-map#map
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.4240830274184!2d106.70087716538356!3d10.778795642319912!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47d6e2bbb5%3A0x3ac4570b9f850ad9!2sVincom+Center!5e0!3m2!1sen!2s!4v1502175557681" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
		.row
			.col-xs-12.col-md-7.col-lg-8
				section.contact-form
					//- .module-title Cảm ơn quý khách đã quan tâm đến sản phẩm & dịch vụ của Rioland. Hãy liên hệ với chúng tôi để nhận được tư vấn tốt nhất.
					.form-wrap
						.row
							.form-group.col-12.col-sm-6
								input(type="text", placeholder="Họ và tên*")
							.form-group.col-12.col-sm-6
								input(type="text", placeholder="Email*")
							.form-group.col-12.col-sm-6
								input(type="text", placeholder="Điện thoại*")
							.form-group.col-12.col-sm-6
								input(type="text", placeholder="Tiêu đề*")
							.form-group.col-12
								textarea(name="", cols="30", rows="5", placeholder="Nội dung")
							.frm-btn
								input(type="submit", value="Gửi")
			.col-xs-12.col-md-5.col-lg-4
				section.contact-info
					h1.company CÔNG TY TNHH & TM TRƯƠNG VUI
					ul 
						li <i class="fa fa-map-marker" aria-hidden="true"></i> 
							span 165 Ni Sư Huỳnh Liên, p.10, Q.Tân Bình, Tp.Hồ Chí Minh
						li <i class="fa fa-phone" aria-hidden="true"></i>
							a(href="tel:0901.487.456") 0901.487.456
						li <i class="fa fa-phone" aria-hidden="true"></i>
							a(href="tel:028.3595.0979") 028.3595.0979
						li <i class="fa fa-envelope" aria-hidden="true"></i>
							a(href="mailto:tv@handbagLương Quới.com") tv@handbagLương Quới.com