//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/6.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm

	.row
		include filter.jade
		.col-main
			section.product-page
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info
					h1.cate-name Dầu dừa
					.product-sort
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
				.product-list
					.row
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/1.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/2.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									//- .product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/3.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											//- .old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/5.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/6.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Dầu dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/26.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/29.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									//- .product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/30.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/31.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											//- .old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/32.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/27.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước cốt dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/28.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước cốt dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									//- .product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/33.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước cốt dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											.old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/34.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước cốt dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											//- .old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						article.col-6.col-md-4.col-xl-3
							.product-col
								figure
									.product-promotion.sale -30%
									a.product-img(href="#!")
										img(src="img/product/34.png", alt="")
									figcaption
										h3.product-name
											a(href="#!") Nước cốt dừa - abc1
										.product-cate 200ml
										.product-price
											.new 300.000 đ
											//- .old 450.000 đ
										.product-btn
											a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
												span Thêm vào giỏ hàng
											a.btn-view(href="#!") <i class="material-icons">launch</i>
						//- article.col-6.col-md-4
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/4.png", alt="")
									figcaption
										.product-intro
											.product-cate Thời trang nam
											.product-name Claken Backpack
										.product-price
											.old 600.000đ
											.new 500.000đ
										.buy-wrap
											a.btn-buy(href="#!") Mua ngay
			.pages
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4