//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Sản phẩm
			li
				a(href="#!") Sản phẩm chi tiết
.product-page.clearfix
	section.product-info-wrap.clearfix
		.container
			.row
				.col-12.col-lg-6
					.slide-wrap
						.promotion.sale -20%
						.product-slide
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/28.png")
									img(src="img/product/28.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/28.png")
									img(src="img/product/28.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/28.png")
									img(src="img/product/28.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/28.png")
									img(src="img/product/28.png", alt="")
							.item
								a.fancybox(data-fancybox="gallery", href="img/product/28.png")
									img(src="img/product/28.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/2.png")
							//- 		img(src="img/product/2.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/3.png")
							//- 		img(src="img/product/3.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/4.png")
							//- 		img(src="img/product/4.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/1.png")
							//- 		img(src="img/product/1.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/2.png")
							//- 		img(src="img/product/2.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/3.png")
							//- 		img(src="img/product/3.png", alt="")
							//- .item
							//- 	a.fancybox(data-fancybox="gallery", href="img/product/4.png")
							//- 		img(src="img/product/4.png", alt="")
						.product-nav
							.item
								.img
									img(src="img/product/28.png", alt="")
							.item
								.img
									img(src="img/product/28.png", alt="")
							.item
								.img
									img(src="img/product/28.png", alt="")
							.item
								.img
									img(src="img/product/28.png", alt="")
							.item
								.img
									img(src="img/product/28.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/2.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/3.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/4.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/1.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/2.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/3.png", alt="")
							//- .item
							//- 	.img
							//- 		img(src="img/product/4.png", alt="")
				.col-12.col-lg-6
					section.product-info
						h1.product-name Nước cốt dừa - P3
						.product-cate Nước cốt dừa
						.product-price
							.new 690.000đ
							.old 990.000đ
						//- .product-gift
							.module-title Khuyến mãi
							ul
								li Bảo hành 10 năm toàn cầu
								li Giao hàng tận nơi, thanh toán toàn quốc
								li Đổi trả trong 365 ngày (nếu sản phẩm bị lỗi từ nhà sản xuất)
						//- .product-option
							.product-color
								.label Màu sắc:
								ul
									li.color
										a.disable(href="#" style='background: #222' data-toggle="tooltip" data-placement="top" title="Đen")
									li.color
										a.active(href="#" style='background: #44546e' data-toggle="tooltip" data-placement="top" title="Xanh Navy")
									li.color
										a(href="#" style='background: #c28086' data-toggle="tooltip" data-placement="top" title="Đỏ nhạt")
							.product-size
								.label Kích thước:
								ul
									li.size
										a.active(href="#") XL
									li.size
										a(href="#") S
									li.size
										a.disable(href="#") XS
						.addtocart-wrap
							input.amount(type="number" value="1")
							a.btn-buy(href="#!" data-toggle="modal" data-target="#exampleModal") Mua ngay
							a.btn-wishlist(href="#!" data-toggle="tooltip" data-placement="right" title="Yêu thích") <i class="fa fa-heart" aria-hidden="true"></i>
						.product-overview
							.content
								p Nước cốt dừa được sản xuất từ quả dừa già. Độ già của quả dừa vào khoảng 11-12 tháng. Quả dừa được lột vỏ, tách gáo và vỏ lụa trước khi đưa vào dây chuyền sản xuất tại nhà máy. Cơm dừa sau khi sơ chế được rửa trong nước sạch và chần bằng nước nóng trong 5 phút trước khi xay nhuyễn. Sau đó, cơm dừa được ép để lấy phần nước cốt dừa. HS code: 2106.90
								p Trãi nghiệm thêm: 
									a(href="https://facebook.com/vietcocovn/")
						.share
							.label Chia sẻ:
							a.fa.fa-facebook(href="#")
							a.fa.fa-twitter(href="#")
							a.fa.fa-google-plus(href="#")
	.container
		//- .row
		//- 	.col-12.col-lg-8
		//- section.product-description.clearfix
			.responsive-tab
				ul.tab-list
					li.tab-item
						a(href='#tab1') Chi tiết
					//- li.tab-item
						a(href='#tab2') Thông số
					li.tab-item
						a(href='#tab3') Đánh giá
				#tab1.tab-content
					//- .container
					.content.product-content
						//- h4
						//- 	strong.text-uppercase.text-green Quy trình sản xuất
						//- figure
						//- 	img(src="img/product/map.png", alt="")
						br
						h4
							strong.text-uppercase.text-green QUY CÁCH ĐÓNG GÓI
						p.text-italic Công ty TNHH chế biến dừa Lương Quới cung cấp sản phẩm Nước cốt dừa đóng lon với các mức độ béo khác nhau phù hợp cho nhiều mục đích sử dụng của khách hàng như 5-7% béo, 8-10% béo, 17-19% béo và 20-22% béo với thương hiệu trên thị trường là Vietcoco. Sản phẩm được đóng trong lon thiếc với các dung tích là 400ml và 2,9 lít.
						.table-wrap
							table.table
								thead
									tr
										th 
										th Quy cách đóng thùng
										th Kích thước thùng (cm)
										th Số lượng/20ft
								tbody
									tr
										th(rowspan="2") Lon 400ML
										td 12 Lon x 400ML
										td 30 x 23 x 11,5
										td 3.600 thùng
									tr
										td 24 Lon x 400ML
										td 45 x 30 x 11,5
										td 1.800 thùng
									tr
										th Lon 2,9L
										td 6 Lon x 2,9L
										td 48 x 32 x 18,5
										td 1.000 thùng
						br
						//- h4
						//- 	strong.text-uppercase.text-green Chứng nhận sản phẩm
						//- p <strong>&nbsp;đóng lon</strong> của <strong>Công ty TNHH chế biến dừa Lương Quới</strong>&nbsp;được sản xuất từ những quả dừa chất lượng cao, được chọn lọc kỹ trước khi đưa vào chế biến. Các công đoạn của quá trình sản xuất được kiểm soát chặt chẽ theo Hệ thống an toàn thực phẩm <strong>ISO 22000:2005, HACCP</strong>&nbsp;(Phân tích mối nguy và điểm kiểm soát tới hạn)&nbsp;nhằm mang đến những sản phẩm nước cốt dừa đóng lon có giá trị dinh dưỡng cao, vừa tiện lợi lại an toàn cho sức khỏe người tiêu dùng.&nbsp;<br>
						//- p Sản phẩm Nước cốt dừa đóng lon của Công ty TNHH chế biến dừa Lương Quới đã được cấp các chứng chỉ, chứng nhận và bằng khen có ý nghĩa to lớn đối với cả thị trường trong nước và Quốc tế như: <strong>ISO 22000:2005, HACCP, BRC, &nbsp;HALAL, KOSHER, </strong><em><strong>ORGANIC,&nbsp;S</strong></em><strong>ẢN PHẨM CÔNG NGHIỆP NÔNG THÔN TIÊU BIỂU CẤP QUỐC GIA NĂM 2015</strong><strong><em>...&nbsp;</em></strong>và được cơ quan FDA của Hoa Kỳ cấp mã số <strong>FDA,&nbsp;SID, FCE</strong>,…
					.btn-wrap
						a.btn-showdetail(href="#!") Xem thêm
						a.btn-hidedetail(href="#!") Thu gọn
					//- .product-item
						figure
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Balo học sinh Pro-dlx4
								.product-cate Balo laptop
								.product-price
									.new 690.000đ
									.old 990.000đ
								.btn-wrap
									a.btn-buy(href="#!") Mua ngay
				//- #tab2.tab-content
					.container
						table.table
							tr
								td Weight
								td 1.73 kg
							tr
								td Dimensions
								td 100 x 37 x 100 cm
							tr
								td Size
								td One Size, XL, L, M, S
							tr
								td Color
								td Orange, White
				#tab3.tab-content
					.fb-comment
						img(src="img/comment.jpg", alt="")
			//- .col-12.col-lg-4
				.sidebar-news
					.small-title Tin khuyến mãi
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
				.sidebar-news
					.small-title Tin mới
					.post-list
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/2.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
						.post
							figure
								a.post-img(href="#!")
									img(src="img/news/3.jpg", alt="")
								figcaption
									h3.post-name
										a(href="#!") Chọn màu sắc vali như thế nào cho phù hợp với tính cách?
									time 06/12/2017
	section.product-other.clearfix
		.container
			h3.small-title Có thể bạn quan tâm
			.product-slick.product-list
				.item
					.product-col
						figure
							.product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/27.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nước cốt dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									.old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>
				.item
					.product-col
						figure
							.product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/28.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nước cốt dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									.old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>
				.item
					.product-col
						figure
							//- .product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/33.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nước cốt dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									.old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>
				.item
					.product-col
						figure
							.product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/34.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Nước cốt dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									//- .old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>
				.item
					.product-col
						figure
							.product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/1.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Dầu dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									.old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>
				.item
					.product-col
						figure
							.product-promotion.sale -30%
							a.product-img(href="#!")
								img(src="img/product/2.png", alt="")
							figcaption
								h3.product-name
									a(href="#!") Dầu dừa - abc1
								.product-cate 200ml
								.product-price
									.new 300.000 đ
									.old 450.000 đ
								.product-btn
									a.btn-buy(href="#!") <i class="material-icons">shopping_cart</i>
										span Thêm vào giỏ hàng
									a.btn-view(href="#!") <i class="material-icons">launch</i>


<!-- Modal -->

//- #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
	.modal-dialog.modal-addtocart(role='document')
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Mr.Vui - Vali - Balo - Phụ kiện chính hãng
				.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
			.modal-body
				.row
					.col-12.col-md-8
						.product-item
							figure
								.product-img
									img(src="img/product/1.png", alt="")
								figcaption
									h3.product-name Balo học sinh Pro-dlx4
									.product-cate Balo laptop
									.product-price
										.new 690.000đ
										.old 990.000đ
									.btn-wrap
										a.btn-goback(href="#!" data-dismiss='modal', aria-label='Close') Tiếp tục mua hàng
										a.btn-buy(href="#!") Thanh toán
					.col-12.col-md-4
						section.minicart
							.carttitle <i class="fa fa-shopping-cart"></i>Đơn hàng (<strong>2</strong> sản phẩm)
							.carttable.clearfix
								.group.clearfix
									.product.clearfix
										a.productimg(href="#")
											img(src="img/product/1.png", alt="")
										.productdetail
											.product-brand CASIO
											h3.product-name SKAGEN SKW6234
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
								.group.clearfix
									.product.clearfix
										a.productimg(href="#")
											img(src="img/product/2.png", alt="")
										.productdetail
											.product-brand CASIO
											h3.product-name SKAGEN SKW6234
									.amount
										.price 500.000đ
										.count x1
										.total 500.000đ
								.group
									.label Phí vận chuyển
									.value Miễn phí
								.group
									.label Tổng tiền
									.value.total 1.000.000đ