//- .page-banner.banner
	.item
		.img
			img(src="img/breadcrumb/5.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
	//- .item
		.img
			img(src="img/breadcrumb/1.png", alt="")
.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Trang chủ
			li
				a(href="#!") Tuyển dụng
section.career-page
	.container
		h1.home-title NHÂN VIÊN BÁN HÀNG - TP.HCM (TUYỂN THƯỜNG XUYÊN)
		.content
			p 
				strong Mô tả công việc:
			ul
				li Đón tiếp, phục vụ món ăn và thức uống cho khách hàng.
				li Dọn dẹp, setup bàn ăn mới.
				li Giải đáp các thắc mắc của khách hàng.
			p 
				strong Quyền lợi:
			ul
				li Tổng lương: 4.500.000 đến 6.000.000,
				li Xét tăng lương thăng bậc định kỳ, được đào tạo thúc đẩy lên Giám sát, Trợ lý, Quản lý,... theo chính sách Công ty.
				li Được thưởng các ngày lễ, tết.
				li Đóng các loại bảo hiểm theo quy định.
				li Các hoạt động ngoại khóa, chương trình du lịch thường niên cho nhân viên.
			p
				strong Yêu cầu:
			ul
				li Nam/ Nữ tuổi dưới 25 ngoại hình ưa nhìn, cao 1m55 trở lên, tốt nghiệp 9/12, không xăm hình, không mắc các bệnh về da.
				li Kỹ năng giao tiếp tốt yêu thích về lĩnh vực nhà hàng.
				li Sẽ được đào tạo kỹ năng, không yêu cầu kinh nghiệm, ngoại ngữ.
				li Có phương tiện đi lại.
				li 8 tiếng/ ngày, off 1 ngày 1 tuần, chấp nhận đi ca theo sự sắp xếp của BQL
			p
				strong Thông tin liên hệ:
			p Đến trực tiếp điền mẫu thông tin ứng tuyển và phỏng vấn trong giờ hành chính tại Văn phòng: 26C-D Lê Quốc Hưng, P.12, Q.4
		.btn-wrap
			a.btn-apply(href="#!") Ứng tuyển
			a.btn-goback(href="#!") Quay lại
		.apply-frm
			h4 Vui lòng điền đầy đủ thông tin bên dưới (* : bắt buộc)
			.row
				.col-12.col-md-6
					.form-group
						label Vị trí ứng tuyển (
							span.text-red *
						|)
						input(type="text" value="NHÂN VIÊN BÁN HÀNG - TP.HCM (TUYỂN THƯỜNG XUYÊN)")
					.form-group
						label Họ tên (
							span.text-red *
						|)
						input(type="text" value="")
					.form-group
						label Địa chỉ (
							span.text-red *
						|)
						input(type="text" value="")
					.form-group
						label Email (
							span.text-red *
						|)
						input(type="text" value="")
					.form-group
						label Điện thoại (
							span.text-red *
						|)
						input(type="text" value="")
				.col-12.col-md-6
					.form-group
						label Nội dung (
							span.text-red *
						|)
						textarea(name="", cols="30", rows="8")
					.form-group
						label File đính kèm 1 (
							span.text-red rar,zip,doc,docx,pdf
						|)
						input(type="file", name="")
					.form-group
						label File đính kèm 2 (
							span.text-red rar,zip,doc,docx,pdf
						|)
						input(type="file", name="")
				.frm-btn
					input(type="submit", value="Gửi")
